## .NET / C# - gitignore oficial

# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docview
*.userprefs

# NuGet
*.nupkg
packages/
!**/packages/build/
project.lock.json
project.fragment.lock.json
artifacts/

# Rider
.idea/

# Arquivos de sistema
desktop.ini
Thumbs.db
.DS_Store
